<div class="banner">
  <div class="margin-btm">
    <h1>Stupid Coaching</h1>
  </div>
  <p>Ask your coach anything:</p>
  <form action="/answer" class="form-inline">
    <div class="input-group input-group-lg">
      <input type="text" name="question" class="form-control">
      <br>
      <input type="submit" value="Ask" class="btn btn-ghost">
    </span>
  </div>
</form>
</div>
